*.snap -whitespace linguist-language=Text gengo-language=Plain-Text
/gengo/languages.yaml gengo-detectable linguist-detectable

# Fix GitHub's detected language
.vscode/*.json linguist-language=JSON-with-Comments
