*.snap -whitespace linguist-language=Text gengo-language=PlainText
/gengo-language/languages.yaml gengo-detectable linguist-detectable

# Fix GitHub's detected language
.vscode/*.json linguist-language=JSON-with-Comments

# Ignore fixtures
**/fixtures/* -gengo-detectable

# Handle sample code
/samples-test/samples/** -text linguist-vendored -gengo-detectable
