[package]
name = "gengo"
description = { workspace = true }
readme = "README.md"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

keywords = { workspace = true }

[features]
default = ["max-performance-safe"]
max-performance = ["gix/max-performance"]
max-performance-safe = ["gix/max-performance-safe"]

[dependencies]
gix = { version = "0.52.0", default-features = false }
glob = "0.3"
indexmap = { version = "2", features = ["serde"] }
once_cell = "1"
owo-colors = { version = "3", optional = true }
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"

[build-dependencies]
indexmap = { version = "2", features = ["serde"] }
serde_json = "1"
serde_yaml = "0.9"

[dev-dependencies]
criterion = "0.5"
insta = "1"
rstest = "0.18"

[[bench]]
# NOTE: We run on this repo as a real-world example
name = "run_on_self"
harness = false
