[package]
name = "gengo"
description = { workspace = true }
readme = "crates-io.md"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

keywords = { workspace = true }

exclude = ["README.md"]

[features]
default = ["max-performance-safe"]
max-performance = ["gix/max-performance"]
max-performance-safe = ["gix/max-performance-safe"]

[dependencies]
gix = { version = ">= 0.56, <= 0.57", default-features = false, features = [
    "attributes",
    "index",
    "parallel",
    "revision",
] }
glob = "0.3"
ignore = "0.4"
indexmap = { version = "2", features = ["rayon", "serde"] }
once_cell = "1"
owo-colors = { version = ">=3, <=4", optional = true }
rayon = "1"
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"

[build-dependencies]
indexmap = { version = "2", features = ["serde"] }
serde_json = "1"
serde_yaml = "0.9"

[dev-dependencies]
criterion = "0.5"
insta = "1"
rstest = "0.18"

[[bench]]
# NOTE: We run on this repo as a real-world example
name = "run_on_self"
harness = false
