[package]
name = "gengo"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/spenserblack/gengo"
readme = "../README.md"

[dependencies]
indexmap = { version = "2", features = ["serde"] }
once_cell = "1"
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"

[build-dependencies]
indexmap = { version = "2", features = ["serde"] }
serde_json = "1"
serde_yaml = "0.9"

[dev-dependencies]
insta = "1"
