[package]
name = "gengo"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/spenserblack/gengo"
readme = "../README.md"

[dependencies]

[build-dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
tera = { version = "1", default-features = false }
