[package]
name = "gengo-bin"
description = { workspace = true }
readme = "README.md"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

categories = ["command-line-utilities"]
keywords = { workspace = true }

[[bin]]
name = "gengo"

[dependencies]
clap = { version = "4", features = ["derive", "wrap_help"] }
gengo = { path = "../gengo", version = "0.1" }
indexmap = "2"

[dev-dependencies]
insta = "1"
