[package]
name = "gengo-bin"
description = { workspace = true }
readme = "README.md"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

categories = ["command-line-utilities"]
keywords = { workspace = true }

[[bin]]
name = "gengo"

[features]
default = ["color"]
color = ["owo-colors", "gengo/owo-colors"]

[dependencies]
clap = { version = "4", features = ["derive", "wrap_help"] }
gengo = { path = "../gengo", version = "0.4" }
indexmap = "2"
owo-colors = { version = "3", optional = true }

[dev-dependencies]
insta = "1"
