[package]
name = "gengo-bin"
description = { workspace = true }
readme = "crates-io.md"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

categories = ["command-line-utilities"]
keywords = { workspace = true }

exclude = ["README.md"]

[[bin]]
name = "gengo"

[features]
default = ["color", "gengo/max-performance"]
color = ["gengo/owo-colors", "owo-colors"]

[dependencies]
clap = { version = "4", features = ["derive", "wrap_help"] }
gengo = { path = "../gengo", version = "0.10", default-features = false }
indexmap = "2"
owo-colors = { version = ">=3, <=4", optional = true }
serde_json = "1"

[dev-dependencies]
insta = { version = "1", features = ["json"] }
serde_json = "1"
