name: Release

on:
  push:
    tags: ["v*.*.*"]

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Publish Library
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p gengo
      - name: Publish Binary
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p gengo-bin
  github:
    name: GitHub Assets
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Build Assets
        run: cargo build --release
      - name: Upload Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./target/release/gengo
            ./target/release/gengo.exe
